
    .card .card-content{
      padding-top: 0px;
    }

    .overlay {
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .it {
      margin-right: 10px;
    }

    #hack{
      position: absolute; 
      top: 0px; 
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.25);
    }

    #pensa{
      position: absolute; 
      top: 0px; 
      width: 100%;
      height: 100%;
      background-color: rgba(0, 14, 176, 0.25);
    }

     #apps{
      position: absolute; 
      top: 0px; 
      width: 100%;
      height: 100%;
      background-color:rgba(0, 176, 33, 0.25);
    }
    
    .texto-curso { 
       position: absolute; 
       top: 80px; 
       width: 100%;
       height: 100%;
    }

    .texto-dias{
      font-family: 'Caveat', cursive;
      font-size: 25px;
    }

    .texto-horas{
      font-family: 'Comfortaa';
      font-size: 40px;
      margin-top: 0px;
    }

    .texto-curso-titulo{
      font-family: 'Encode Sans Expanded', sans-serif;
    }

    .card{
      margin-bottom: 40px;
    }

    ul{
      font-family: 'Comfortaa';
    }


    

