body {background-color:#fff;}

.navbar{position: absolute;z-index:999999999;}
nav ul a{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 130%;
}

.titulo{
    font-family:"Amatic SC";
    font-weight:bold;
}

.descr{
    font-family: Comfortaa;

}